[submodule "go-ipfs"]
	path = go-ipfs
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-ipfs
	branch = pp_master
	update = rebase
[submodule "go-ipfs-config"]
	path = go-ipfs-config
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-ipfs-config
	branch = pp_master
	update = rebase
[submodule "go-bitswap"]
	path = go-bitswap
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-bitswap
	branch = pp_master
[submodule "go-eventbus"]
	path = go-eventbus
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-eventbus
[submodule "go-libp2p"]
	path = go-libp2p
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-libp2p
	branch = pp_master
	update = rebase
[submodule "go-libp2p-core"]
	path = go-libp2p-core
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-libp2p-core
	branch = pp_master
[submodule "go-libp2p-onion-transport"]
	path = go-libp2p-onion-transport
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-libp2p-onion-transport
	branch = pp_master
	update = rebase
[submodule "go-multiaddr"]
	path = go-multiaddr
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-multiaddr
[submodule "go-multiaddr-net"]
	path = go-multiaddr-net
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-multiaddr-net
[submodule "go-libp2p-swarm"]
	path = go-libp2p-swarm
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-libp2p-swarm
[submodule "go-unixfs"]
	path = go-unixfs
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-unixfs
[submodule "go-payment-service"]
	path = go-payment-service
    url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/PaymentServices
	branch = pp_master
[submodule "go-libp2p-kad-dht"]
	path = go-libp2p-kad-dht
	url = git@ssh.dev.azure.com:v3/paidpiper2020/PaidPiper/go-libp2p-kad-dht
